 @charset "utf-8";

.bg-dark {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    width:90%;

}
aside.fixed{
	position: stickey-left;
}
div.card{
	margin: 0 auto;
}

div.main{
	 width:80%;
}
/*
aside.fixed{
	position: fixed;
	--bs-bg-opacity: 0;
}
ul.left{
	
	position:fixed;
}
.bg-dark {
    --bs-bg-opacity: 0;
    background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;
    width:90%;

}
.w-100 {
    width: 90%!important;
}
.h5{
	float:left;
}

.login:hover{color:black;}

아이디 비번 찾기
*/
.findIdPw .fa{
	color:#bbb;
}

.findIdPw a{
	font-size: 13px;
	color: #555;
	text-decoration: none;
}

.findIdPw a:hover {
	text-decoration: underline;
}

.findIdPw a+a:before{
	content:'';
	display:inline-block;
	background-color:#808080;
	width:3px;
	height:3px;
	vertical-align: 3px;
	margin:0 5px;
}

.nav.nav-tabs a{
	color:#666;
}
ul.d-flex{
	font-size: 13px;
}

.myProfile {
	color:white;
	text-decoration: none;
	line-height:42px;
}
.myProfile:hover{
	color:white;
	text-decoration: none;	
}

#pwChkMsg{
	color:red;
	font-size:11px;
}

이메일 인증 확인
#confirmEmail{
	display는 존재가 사라짐(자리차지하지 않는다.)
	display:none; 
	visibility:hidden;(안보일뿐 자리를 차지함)
	height:0; 
	투명하게 할뿐 자리를 차지함
	opacity:0;
}

.code-msg{
	display:none;
	font-size:11px;
	color:green;
}

.input-code {
	border:1px solid #ced4da;
	border-radius:6px 0 0 6px;
	padding: 6px 12px;
	outline: none;
	width:70%;
	border-right:0;
}

.time {
	border:1px solid #ced4da;
	border-radius:0 6px 6px 0;
	padding: 6px 12px;
	outline: none;
	width:30%;
	text-align:right;
	border-left:0;
	color: red;
}

댓글 리스트
.mb-2 div {
	cursor:pointer;
}

.mb-2 div:hover {
	background-color:#eee;
}






 */